.pics{
    max-width: 850px;
    margin: 0 auto;
}

.pics img{
    max-width: 200px;
    box-shadow:2px 2px 5px yellow;
}
.pics h6{
    color: mediumvioletred;
}

.recent-client:nth-child(even){
    display: flex;
    flex-direction: row-reverse;
}

aside img{
    width: 50px;
}