.navbar{
     background-color: transparent ! important;   
 }
 .navbar-brand{
     color: pink;
 }

 li a{
     color: #FFF430 !important;
 }

 li a:hover{
     color: pink !important;
     border-bottom: 2px solid mediumvioletred;
 }

 li a:active{
     color: pink !important;
     border-bottom: 2px solid mediumvioletred;
 }

 .navbar-brand i{
     color: yellow;
 }

 li{
     cursor: pointer;
     font-size: 17px;
 }

 .header_change{
     background: #222066 !important;
     opacity: 50%;
 }

 .icons{
     color: mediumvioletred;
 }