.navbar{
     background-color: transparent ! important;   
 }
 .navbar-brand{
     color: pink;
 }
li a{
     color: yellow !important;
 }

 .navbar-brand i{
     color: yellow;
 }

 li{
     cursor: pointer;
     font-size: 18px;
 }

 .header_change{
     background: #222066 !important;
     opacity: 50%;
 }

 .icons{
     color: mediumvioletred;
 }