.package{
    font-weight: 100;
    max-width: 800px;
    margin: 0 auto;
}

.package i{
    color:  yellow;
    font-size: 20px;
}

a, img{
    border-radius: 50px;
    border: 2px solid mediumvioletred;
}


 .teaching{
     background: linear-gradient(45deg, red,#D7008A);
    
 }

 .teaching-style{
     max-width: 500px;
     margin: 0 auto;

 }